@*@model IEnumerable<Contramcamlamroi.Models.Product>*@
@using Contramcamlamroi.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
<style>
    #div-ds {
        text-align: center;
        background-color: forestgreen;
        height: 40px;
        border-radius: 20px 20px 0 0;
    }

    .MenuPage li {
        display: inline;
    }

    .search {
        padding-bottom: 8px;
        padding-top: 8px;
        margin-left: 44px;
    }

    #div-ds {
        margin-top: 30px;
    }

   
    .card-pro:hover {
        border: 1px solid green;
        transition: transform .2s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .hbtn {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        padding: 8px 20px;
        margin: 0px 3px 6px;
        text-align: center;
        border: 2px solid rgb(255, 255, 255);
        text-decoration: none;
        color: black;
        white-space: nowrap;
        z-index: 0;
        border: 1px solid #BFBFBF;
        border-radius: 10px;
    }

        .hbtn i {
            padding-right: 8px;
        }

    .hb-fill-right-bg::before {
        position: absolute;
        content: "";
        background: limegreen;
        transition-duration: 0.3s;
        z-index: -1;
        inset: 0px auto auto 0px;
        width: 0px;
        height: 100%;
        opacity: 1;
        text-decoration: none;
        font-weight: 700;
        border-radius: 10px;
    }

    .hb-fill-right-bg:hover::before {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .hb-fill-right-bg:hover {
        color: rgb(0, 0, 0);
        background: white;
        transition: all 0.3s ease 0s;
        text-decoration: none;
        font-weight: 500;
        border-radius: 10px;
    }

    .product-img:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }


   @* .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

        .searchTerm:focus {
            color: #00B4CC;
        }

    .searchButton {
        width: 100px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    .wrap {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }*@
</style>

<div>
    @using (Html.BeginForm("SearchOption", "Product"))
    {
        <div class="search" style="margin-left: 100px; margin-bottom: 20px;">
            <text> TỪ </text><input type="number" name="min" />
            <text> ĐẾN </text><input type="number" name="max" />
            <input type="submit" value="Tìm Kiếm" />
        </div>
        @*@<div class="col-md-5">
                <form action="" class="search" method="post">
                    <input type="text" class="searchTerm" placeholder="Bạn muốn tìm gì?">
                    <button type="submit" class="searchButton">
                        Submit
                    </button>
                </form>
            </div>*@
    }
</div>
    <div class="container">

        @foreach (var pro in Model)
        {
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pro">
                    @*<p> @Html.DisplayFor(model => pro.ProductID)</p>*@
                    <a href="/Product/ProductList/ @pro.ProductID"><img src="@Url.Content(pro.ImagePro)" height="150" width="150" /></a>
                    <a href="/Product/ProductList/ @pro.ProductID" style="text-align: center; font-size: 20px; font-weight: 600"><p>@Html.DisplayFor(model => pro.NamePro)</p></a>
                    <p style="font-weight:600;">@Html.DisplayFor(model => pro.Price)0 đ</p>

                    <a href="/ShoppingCart/AddToCart/ @pro.ProductID" class="btn btn-defaul"style="background-color: palegreen"> Mua Ngay </a>
                </div>

            </div>
        }

    </div>





<div style="margin-left: -730px;margin-top:10px">
    Trang@(Model.PageCount<Model.PageNumber? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuPage" style="margin-top:-15px;">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>



