@model IEnumerable<Contramcamlamroi.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailCus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { name = item.NameCus }) |
            @Html.ActionLink("Details", "Details", new { name = item.NameCus }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDCus })|
        </td>
    </tr>
}

</table>
