<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/script.js"></script>
    <style>
        #animation-top5 {
            color: white;
            text-shadow: 1px 1px 2px gray, 0 0 25px red, 0 0 5px red;
        }
        /*.div-footer {
            position: fixed;
            text-align: center;
            bottom: 0;
            left: 0;
            padding-top: 15px;
            height: 50px;
            width: 100%;
            background-color: forestgreen;
        }*/
        li.format-hello {
            padding-top: 15px;
            color: white;
        }
        .navbar-inverse {
            background-color: green;
        }
            .navbar-inverse .navbar-nav > li > a {
                color: black;
                font-size: 14px;
            }

        input[type=text] {
            width: 200px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        /* When the input field gets focus, change its width to 100% */
        .search-product-price input[type=text]:focus {
            width: 400px;
            height: 35px;
        }
        input, select, textarea {
            max-width: 800px;
            height: 35px;
            background: #fff;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            border: solid 1px black;
        }
            input[type="text" i] {
                padding: 1px 2px;
                margin-top: 10px;
                border-radius: 5px;
                border: 2px solid #73AD21;
            }
        td, th {
            padding-right: 10px;
        }
        input[type="submit"] {
            -webkit-appearance: button;
            cursor: pointer;
            margin-top: 10px;
        }
        .col-md-10 {
            width: 100%;
         @*   background-image: url('../../Content/images/1900851.png');*@
            height:auto;

        }
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
            text-align: center;
        }
        span.badge {
            float: right;
            margin-right: -8px;
        }
        #PasswordUser{
            border-radius: 5px;
            border: 2px solid #73AD21;
        }
        #ConfirmPass {
            border-radius: 5px;
            border: 2px solid #73AD21;
        }
        #ID {
            border-radius: 5px;
            border: 2px solid #73AD21;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VEGEFOODS", "Index", "Product", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Product")</li>
                    <li>@Html.ActionLink("Kênh người bán", "Index_Admin", "Product")</li>
                    <li>@Html.ActionLink("Liên hệ ", "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="/LoginUser/RegisterUser"><span class="glyphicon glyphicon-user"></span>  Đăng Kí</a></li>
                    <li><a href="/LoginUser/Index"><span class="glyphicon glyphicon-user"></span>  Đăng Nhập</a></li>
                    <li><a href="@Url.Action("LogOutUser","LoginUser")"> LogOut</a></li>
                    <li class="format-hello">
                        @if (Session["NameUser"] == null)
                        {
                            <span> Hello</span>
                        }

                        else
                        {
                            <span> <text> Hello </text> <a href="@Url.Action("Index_Admin","Product")">@Session["NameUser"]</a></span>
                        }
                    </li>

                </ul>

            </div>
            <div class="search-product-price" style="text-align: center">
                @using (Html.BeginForm("Search", "Product"))
                {
                    <input type="text" name="_name" placeholder="Bạn muốn tìm gì ?...">
                    <input type="submit" value="Tìm" style="background-color: green; color: white; border-color: white; border-style: solid; border-width: 1px; border-radius: 3px; background-color: lawngreen; -webkit-box-shadow: 0px 1px 4px rgb(0 0 0 / 20%); box-shadow: 0px 1px 4px rgb(0 0 0 / 20%); " />
                }
                <span style="float:right; margin-top:-10px;">
                    <a href="/ShoppingCart/ShowCart">
                        <img src="@Url.Content("~/Content/images/cart.png")" style="height: 30px; width: 30px; margin-top: 10px; margin-left: 20px;" />
                    </a>
                </span>
                @Html.Action("BagCart", "ShoppingCart")

            </div>
        </div>

    </div>

    <div class="row" style="margin-top:30px">
        <div class="col-md-10" id="div-content">

            @RenderBody()
        </div>
    </div>


    @*@ <div class="div-footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>*@
    @*@<footer style=" background-color: forestgreen;">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>