@model Contramcamlamroi.Models.OrderPro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-left:130px"> XÓA </h2>


<div>
    <h4>OrderPro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressDeliverry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressDeliverry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang trước", "Index")
        </div>
    }
</div>
